<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <title>Lista Pracowników</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="app-name">TSL COMPANY</div>
    </div>
</div>
<div class="container">
    <h2>Lista pracowników działu księgowości</h2>
    <ul>
        <li th:each="email: ${bookkeepingEmails}">
            <span th:text="${email}">jan@kowalski.com</span>
            &nbsp;
            <a href="#" th:href="@{/delete-accountant(email=${email})}">Usuń</a>
        </li>
    </ul>
</div>