<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/bookkeeping-panel.css" th:href="@{/styles/bookkeeping-panel.css}">
    <title>Panel Księgowości</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="app-name">Panel Księgowości</div>
        <div class="app-description">Zarządzaj swoją firmą w jednym miejscu.</div>
    </div>
</div>
<div class="container">
    <div class="accounting-buttons">
        <a href="#" th:href="@{/invoices-carrier}" class="accounting-button">Faktury od przewoźników</a>
        <a href="#" th:href="@{/invoices-client}" class="accounting-button">Faktury dla klientów</a>
        <a href="#" th:href="@{/forwarders-margin}" class="accounting-button">Wyniki spedytorów</a>
    </div>
</div>
<div class="container">
    <a th:href="@{/home-page}" class="panel-button-forwarder">Powrót do panelu głównego</a>
</div>
</body>
</html>
