<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
  <title>Panel Administratora - TSL COMPANY</title>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="app-name">Panel Administratora</div>
    <div class="app-description">Zarządzaj bazą danych firmy.</div>
  </div>
</div>
<div class="container">
  <div class="button-group">
    <a href="#" th:href="@{/delete-client}" class="panel-button-forwarder">Usuń Klienta</a>
    <a href="#" th:href="@{/delete-carrier}" class="panel-button-forwarder">Usuń Przewoźnika</a>
  </div>
</div>
<div class="container">
  <a th:href="@{/management}" class="panel-button-forwarder">Powrót do panelu głównego</a>
</div>
</body>
</html>
