<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <title>Panel Spedytora - TSL COMPANY</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="app-name">Panel Spedytora</div>
        <div class="app-description">Zarządzaj swoją firmą w jednym miejscu.</div>
    </div>
</div>
<div class="container">
    <div class="button-group">
        <a href="#" th:href="@{/add-cargo}" class="panel-button-forwarder">Dodaj Ładunek</a>
        <a href="#" th:href="@{/add-order}" class="panel-button-forwarder">Utwórz Zlecenie</a>
        <a href="#" th:href="@{/show-all-cargos}" class="panel-button-forwarder">Wyświetl Wszystkie Ładunki</a>
        <a href="#" th:href="@{/show-all-orders}" class="panel-button-forwarder">Wyświetl Wszystkie Zlecenia</a>
        <a href="#" th:href="@{/add-client}" class="panel-button-forwarder">Dodaj klienta</a>
        <a href="#" th:href="@{/add-carrier}" class="panel-button-forwarder">Dodaj przewoźnika</a>
    </div>
</div>
<div class="container">
    <a th:href="@{/home-page}" class="panel-button-forwarder">Powrót do panelu głównego</a>
</div>
</body>
</html>
