<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/management-panel.css" th:href="@{/styles/management-panel.css}">
    <title>Panel Administracyjny</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="app-name">Panel Administracyjny</div>
    </div>
</div>
<div class="container">
    <a th:href="@{/home-page}" class="panel-button-forwarder">Powrót do panelu głównego</a>
</div>
<div class="container">
    <div class="admin-buttons">
        <a href="#" th:href="@{/assign-task-employees}" class="admin-button">Przydziel zadania</a>
        <a href="#" th:href="@{/forwarder-list}" class="admin-button">Wyświetl spedytorów</a>
        <a href="#" th:href="@{/bookkeeping-list}" class="admin-button">Wyświetl pracowników księgowości</a>
        <a href="#" th:href="@{/show-all-cargos}" class="admin-button">Wyświetl wszystkie ładunki</a>
        <a href="#" th:href="@{/show-all-orders}"  class="admin-button">Wyświetl wszystkie zlecenia</a>
        <a href="#" th:href="@{/payments}" class="admin-button">Płatności</a>
    </div>
</div>
</body>
</html>