<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
  <title>Lista ładunków</title>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="app-name">TSL COMPANY</div>
  </div>
</div>
<div class="container">
  <h2>Lista zleceń</h2>
  <ul class="cargo-list">
    <li th:each="order: ${allOrders}">
      <span th:text="${'Numer ładunku w systemie: ' + order.cargo.id}"></span>
      <br>
      <span th:text="${'Cena: ' + order.price}"></span>
      <br>
      <span th:text="${'Przewoźnik: ' + order.carrier.fullName}"></span>
      <br>
      <span th:text="${'Typ ciężarówki: ' + order.typeOfTruck}"></span>
      <br>
      <span th:text="${'Numery ciężarówki: ' + order.truckNumbers}"></span>
      <br>
      <span th:text="${'Data załadunku: ' + order.cargo.loadingDate + ' | Data rozładunku: ' + order.cargo.unloadingDate}"></span>
      <br>
      <span th:text="${'Marża : ' + (order.cargo.price - order.price)}"></span>
      <br>
      <span th:text="${'Status : ' + order.orderStatus}"></span>
      <br>
<!--      <span th:text="${'Stworzone przez: ' + order.createdBy.id + ' (' + order.createdBy.email + ')'}"></span>-->
<!--      <br>-->

      <form th:action="@{/update-order-status}" method="post">
        <input type="hidden" name="orderId" th:value="${order.id}">
        <select name="newOrderStatus">
          <option value="ASSIGNED_TO_CARRIER">ASSIGNED_TO_CARRIER</option>
          <option value="ON_LOADING">ON_LOADING</option>
          <option value="ON_THE_WAY_TO_UNLOADING">ON_THE_WAY_TO_UNLOADING</option>
          <option value="ON_UNLOADING">ON_UNLOADING</option>
          <option value="UNLOADED">UNLOADED</option>
          <option value="ENDED">ENDED</option>
        </select>
        <button type="submit">Zmień status</button>
      </form>

      &nbsp;
      &nbsp;
    </li>
  </ul>
  <a class="return-link" href="#" th:href="@{/forwarder}">Powród do panelu spedytora</a>
</div>